{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["module-resolver", {
            "root": ["./app"],
            "alias": {
                "@app": "./app",
                "@api": "./app/api",
                "@service": "./app/service"
            }
        }]
    ]
}
